.about-card {
    padding: 1rem;
    border: 1px solid var(--color-dark);
    border-radius: 1rem;
    height: 100px; /* Reduced height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}