.tools{
    padding-bottom: 2%;
   
}

.tools-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:2rem;
    text-align: center;
}

.tool-item {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center elements vertically */
    justify-content: center;
}
.tool-item p{
font-weight: bold;
font-size: 20px;
}

.tools-container img{
    transition:var(--transition);
    max-width: 60px;    
}
    /* added width extra for flex 
} */

.tools-container img:hover{
    transform: rotate(-45deg);
}

@media (max-width:1024px) {
    .tools-container{
        gap:4rem;
    }
}

@media (max-width:600px) {
    .tools-container{
        gap:1.5rem;
    }
}